@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 252, 252, 252;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.bg-menu-blue {
  background-color: rgb(69, 118, 255);
}

.bg-menu-blue-dark {
  background-color: rgb(55, 94, 204);
}

.hover\:bg-menu-blue-dark:hover {
  background-color: rgb(55, 94, 204);
}

/* Ocultar scrollbar pero mantener funcionalidad */
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }
}
